<breadcrumb breadcrumb-data="['个人评测']"></breadcrumb>
<wrapper-content>
    <div class="search-toolbox">
        <label class="search-toolbox-label">查询条件</label>

        <div class="search-toolbox-form">
            <div class="form-g">
                <label class="label">素质评测名称：</label>
                <input class="form-c" />
            </div>

            <div class="form-g">
                <label class="label">素质评测状态：</label>
                <select2 select2-value="1" select2-options="[{text:'未评测',value:1},{text:'已评测',value:2}]"></select2>
            </div>
            <div class="form-g">
                <button class="btn btn-fix-size">
                查&nbsp;&nbsp;询
            </button>
            </div>
        </div>
    </div>
    <div>
        <div class="panel off-t">
            <div class="panel-header">
                <div class="panel-title">素质评测列表</div>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr class="first">
                            <th class="first">序号</th>
                            <th>素质评测名称</th>
                            <th>开始时间</th>
                            <th>评测时间</th>
                            <th>评测进度</th>
                            <th>状态</th>
                            <th class="last">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>性格倾向测试</td>
                            <td>2016-04-07</td>
                            <td>2016-04-22 10:22:22</td>
                            <td>1/45</td>
                            <td>未完成</td>
                            <td class="last">开始评测</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>性格倾向测试</td>
                            <td>2016-04-07</td>
                            <td>2016-04-22 10:22:22</td>
                            <td>1/45</td>
                            <td>未完成</td>
                            <td class="last">开始评测</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>性格倾向测试</td>
                            <td>2016-04-07</td>
                            <td>2016-04-22 10:22:22</td>
                            <td>1/45</td>
                            <td>未完成</td>
                            <td class="last">开始评测</td>
                        </tr>
                        <tr class="last">
                            <td>1</td>
                            <td>性格倾向测试</td>
                            <td>2016-04-07</td>
                            <td>2016-04-22 10:22:22</td>
                            <td>1/45</td>
                            <td>未完成</td>
                            <td class="last">开始评测</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</wrapper-content>