 // Usage: 表单元素
 //
 // Creates:杨骐彰 2016/9/8
 //
 .form-g {
     display: inline-block;
     margin-right: 40px;
     padding-bottom: 12px;
     vertical-align: middle;
     >.label {
         display: inline-block;
         vertical-align: middle;
     }
 }
 
 .form-c {
     height: 30px;
     border: solid 1px $form-control-border-color;
     width: 188px;
     line-height: 20px;
     padding: 4px 10px;
     outline: none;
     vertical-align: middle;
 }