// Usage: 图标
//
// Creates:杨骐彰 2016/9/8
//
.icon-evaluate {
    background-image: url('../images/evaluate.png')
}

.icon-upload {
    height: 16px !important;
    width: 14px !important;
    background-image: url('../images/upload.png')
}

.icon-export {
    height: 17px !important;
    width: 17px !important;
    background-image: url('../images/export.png')
}