.select-wrapper {
    display: inline-block;
    height: 30px;
    border: solid 1px $form-control-border-color;
    box-sizing: border-box;
    line-height: 28px;
    white-space: nowrap;
    background-color: #fff;
    position: relative;
    border-radius: 3px;
    vertical-align: middle;
}

.select-wrapper-display {
    height: 100%;
    padding: 0 10px;
    padding-right: 30px;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        right: 10px;
        top: (28px - 5px)/2;
        height: 5px;
        width: 13px;
        background: url('../images/arrow-down.png') no-repeat;
    }
    >input,
    >div {
        border: none;
        background: transparent;
        height: 100%;
        outline: none;
        box-sizing: border-box;
        min-width: 188px - 40px -2px;
        cursor: pointer;
    }
}

.select-wrapper-dropdown {
    position: absolute;
    top: 100%;
    left: -1px;
    right: -1px;
    box-sizing: border-box;
    border: solid 1px $form-control-border-color;
    padding: 10px 0;
    background: $background-color;
    transition: .3s all ease;
    .select-wrapper-dropdown-item {
        display: block;
        line-height: 20px;
        padding: 3px 8px;
        padding-left: 28px;
        cursor: pointer;
        position: relative;
        &:hover {
            background: $background-color-darker-2;
        }
        &.selected:before {
            position: absolute;
            content: '';
            left: 10px;
            top: 10px;
            background: url('../images/selected.png') no-repeat;
            height: 7px;
            width: 11px;
        }
    }
}

.select-wrapper.open {
    z-index: 999;
}

.select-wrapper-dropdown.ng-hide-remove {
    opacity: 0.3;
    margin-top: 10px;
}

.select-wrapper-dropdown.ng-hide-remove-active {
    opacity: 1;
    margin-top: 0;
}

.select-wrapper-dropdown.ng-hide-add {
    opacity: 1;
    z-index: 999;
    
}

.select-wrapper-dropdown.ng-hide-add-active {
    opacity: 0;
}